body{
  background-color: slateblue;
  font-family: 'Trebuchet MS';
  color: white;
  text-align: center;
}
img{
  border-radius: 75px;
}
h3{
  
  color: slateblue;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
a{
  border-radius: 10px;
  background-color: white;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  display: block;
  color: slateblue;
  text-align: center;
}